{{ $dataRepo := $.Site.Params.dataRepo }}
{{ $dataRepoId := $.Site.Params.dataRepoId }}
{{ $dataCategory := $.Site.Params.dataCategory }}
{{ $dataCategoryId := $.Site.Params.dataCategoryId }}
<script
  src="https://giscus.app/client.js"
  data-repo="{{ $dataRepo }}"
  data-repo-id="{{ $dataRepoId }}"
  data-category="{{ $dataCategory }}"
  data-category-id="{{ $dataCategoryId }}"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="light"
  data-lang="zh-TW"
  crossorigin="anonymous"
  async
></script>
