  <footer>
  {{ partial "footer_custom.html" . }}
  {{ partial "footer_highlightjs" . }}
  <hr>

  {{ if eq .Section "posts" }}
  {{ partial "footer_giscus.html" . }}
  {{ end }}
  {{ with .Site.Params.footer }}
  <div class="copyright">{{ . | markdownify }}</div>
  {{ end }}
  </footer>
  </article>

  {{ $highVer := .Site.Params.highlightjsVersion }}
  {{ $highCDN := (.Site.Params.highlightjsCDN | default "//cdn.bootcss.com") }}
  {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
